.daily-card {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;

	outline: none;
	border: none;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	cursor: pointer;
	width: 100%;
	padding: 8px 0px;

	font-size: 1.6rem;
	color: inherit;
	background-color: transparent;
}

.daily-card:last-of-type {
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.daily-card:hover {
	background-color: rgba(255, 255, 255, 0.075);
}

.card-row:first-of-type {
	border-bottom: 2px solid transparent;
}

.daily-card.selected .card-row:first-of-type {
	animation: borderColor 120ms ease-in-out forwards;
}
.card-row {
	display: flex;
	align-items: flex-end;
}

.card-date {
	width: 56px;
}

.card-date .day {
	display: none;
}

.card-icon {
	width: 36px;
	height: 36px;
	margin-right: 30px;
}

.card-desc {
	display: none;
	font-size: 1.4rem;
	text-align: start;
}
.card-temp {
	flex: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-temp-max {
	order: 2;
}

.card-temp-min {
	color: rgba(255, 255, 255, 0.75);
}

@keyframes borderColor {
	from {
		border-color: transparent;
	}
	to {
		border-color: var(--white);
	}
}

@media (min-width: 640px) {
	.daily-card {
		flex: 1 0 auto;
		flex-direction: column;
		justify-content: start;
		align-items: start;
		gap: 10px;

		width: calc(100% / 4);
		padding: 20px;
		border-radius: 8px;
		border: none;
	}

	.card-row {
		gap: 10px;
		height: 30px;
	}

	.card-icon {
		height: 48px;
	}

	.card-date .day {
		display: block;
	}

	.card-icon {
		width: 48px;
		height: 48px;
		margin-right: 0;
	}

	.card-temp-max {
		order: 0;
	}

	.card-temp-min {
		font-size: 1.4rem;
		margin-top: 2px;
	}

	.card-desc {
		display: block;
		flex: 1;
	}
}

.hidden {
	display: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.daily-card {
		width: calc(100% / 5);
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.daily-card {
		width: calc(100% / 6);
	}
}

@media (min-width: 1280px) and (max-width: 1536px) {
	.daily-card {
		width: calc(100% / 7);
	}
}

@media (min-width: 1536px) {
	.daily-card {
		width: calc(100% / 9);
	}
}
