@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--black: #18181b;
	--white: #fafafa;
}
html {
	height: 100%;
}

body {
	font-family: 'Poppins', serif;
	font-weight: 400;
	font-style: normal;

	height: 100%;
	color: var(--white);
	overflow: hidden;
}

.container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	background-image: linear-gradient(to bottom, #0369a1, #60a5fa);
}

.header {
	height: 56px;
	width: 100%;
	padding: 0 20px;
	background-color: #075985;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

.header .brand {
	margin-right: auto;
	font-size: 1.8rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 10px;
}

.header .brand .logo {
	width: 30px;
	height: 30px;
}

label.search {
	position: relative;
}

input[type='search'] {
	min-width: 240px;
}

label.search .icon {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.55);
}

svg {
	height: 100%;
	width: 100%;
}

input[type='search'] {
	appearance: none;
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 8px 12px;
	color: inherit;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1),
		inset -1px -1px 10px rgba(0, 0, 0, 0.1);
}

input[type='search']::placeholder {
	color: rgba(255, 255, 255, 0.68);
}

main {
	width: 100%;
	/* max-width: 1280px; */
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	line-height: 48px;
	height: 48px;
	width: 100%;
	text-align: center;
	margin-top: 36px;
}

footer small {
	font-size: 1.4rem;
}

footer a {
	text-decoration: none;
	font-weight: 600;
	font-style: italic;
	color: inherit;
}

@media (max-width: 640px) {
	/* … */
}
