@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--black: #18181b;
	--white: #fafafa;
}
html {
	height: 100%;
}

body {
	font-family: 'Roboto Mono', serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;

	color: var(--white);
	overflow: auto;
}

.container {
	min-height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	background-image: linear-gradient(to bottom, #0369a1, #60a5fa);
}

main {
	height: 100%;
	width: 100%;
	flex: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer {
	width: 100%;
	text-align: center;
	margin-top: 36px;
	margin-bottom: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

footer small {
	font-size: 1.2rem;
}

footer a {
	text-decoration: none;
	font-weight: 600;
	font-style: italic;
	color: inherit;
}

/* Style background */
.clear-day {
	background-image: linear-gradient(to bottom, #0369a1, #60a5fa);
}

.clear-night {
	background-image: linear-gradient(to bottom, #172554, #020617);
}

.partly-cloudy-day {
	background-image: linear-gradient(to bottom, #0284c7, #4fc3f7);
}

.partly-cloudy-night {
	background-image: linear-gradient(to bottom, #020617, #000);
}

.cloudy {
	background-image: linear-gradient(to bottom, #94a3b8, #64748b);
}

.snow {
	background-image: linear-gradient(to bottom, #e0f7fa, #eee);
	color: var(--black);
}

.rain {
	background-image: linear-gradient(to bottom, #616161, #90a4ae);
}

.wind {
	background-image: linear-gradient(to bottom, #b0bec5, #94a3b8);
}

.fog {
	background-image: linear-gradient(to bottom, #81d4fa, #4fc3f7);
}

@media (min-width: 640px) {
	body {
		height: 100%;
		overflow: hidden;

		font-family: 'Roboto', serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
		font-variation-settings: 'wdth' 100;
	}

	footer {
		display: block;
	}

	footer small {
		font-size: 1.4rem;
	}
}
