.daily {
	flex: 3;
	width: 100%;
	padding: 0 20px;

	display: flex;
	align-items: center;
	gap: 10px;
}

.daily > button {
	appearance: none;
	border: none;
	outline: none;
	border-radius: 4px;
	width: 36px;
	height: 56px;
	background-color: transparent;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.55);

	transition: all 120ms ease-in-out;
}

.daily > button:hover {
	color: var(--white);
	background-color: rgba(0, 0, 0, 0.05);
}

.daily > button svg {
	width: 100%;
	height: auto;
	stroke-width: 1px;
}

.daily > button:disabled {
	cursor: default;
}

.daily > button:disabled:hover {
	color: rgba(255, 255, 255, 0.55);
	background-color: transparent;
}

.card-container {
	height: 100%;
	width: 100%;
	/* border: 1px solid #000; */

	display: flex;
	overflow-x: auto;
}

.card-container::-webkit-scrollbar {
	display: none;
}
