.daily {
	width: 100%;
	padding: 0 40px;
	margin-top: 30px;

	display: flex;
	flex-direction: column;
	align-items: start;
}

.scroll-container {
	width: 100%;
}

.daily-title {
	margin-bottom: 10px;
}

.scroll-container > button {
	display: none;
	appearance: none;
	border: none;
	outline: none;
	border-radius: 4px;
	width: 36px;
	height: 56px;
	background-color: transparent;
	cursor: pointer;
	color: rgba(255, 255, 255, 0.55);

	transition: all 120ms ease-in-out;
}

.scroll-container > button:hover {
	color: var(--white);
	background-color: rgba(0, 0, 0, 0.05);
}

.scroll-container > button svg {
	width: 100%;
	height: auto;
	stroke-width: 1px;
}

.scroll-container > button:disabled {
	cursor: default;
}

.scroll-container > button:disabled:hover {
	color: rgba(255, 255, 255, 0.55);
	background-color: transparent;
}

.card-container {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

@media (min-width: 640px) {
	.daily {
		flex: 3;
	}

	.card-container {
		height: 100%;
		width: 100%;
		/* border: 1px solid #000; */
		flex-direction: row;
		overflow-x: auto;
	}

	.card-container::-webkit-scrollbar {
		display: none;
	}

	.scroll-container {
		display: flex;
		align-items: center;
	}

	.scroll-container > button {
		display: block;
	}
}
