header {
	height: 56px;
	width: 100%;
	padding: 0 24px;
	background-color: #075985;

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 30px;
}

header .brand {
	margin-right: auto;
	font-size: 1.8rem;
	font-weight: 700;
	display: flex;
	align-items: center;
	gap: 10px;
}

header .brand .logo {
	width: 30px;
	height: 30px;
}

label.search {
	position: relative;
}

input[type='search'] {
	min-width: 240px;
}

label.search .icon {
	position: absolute;
	width: 18px;
	height: 18px;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	color: rgba(255, 255, 255, 0.55);
}

svg {
	height: 100%;
	width: 100%;
}

input[type='search'] {
	appearance: none;
	outline: none;
	border: none;
	border-radius: 8px;
	padding: 8px 12px;
	color: inherit;
	background-color: rgba(0, 0, 0, 0.15);
	box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.1),
		inset -1px -1px 10px rgba(0, 0, 0, 0.1);
}

input[type='search']::placeholder {
	color: rgba(255, 255, 255, 0.68);
}
