.current {
	margin-top: 48px;
	width: 100%;
	/* flex: 7; */

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

.current-row {
	display: flex;
	align-items: center;
	gap: 20px;

	font-size: 1.6rem;
	font-weight: 400;
}

.current-row.location {
	gap: 4px;
	font-size: 1.8rem;
	font-weight: 400;
	margin-bottom: -10px;
}

.current-row.location .location-icon {
	width: 16px;
	height: 16px;
}

.current-row.main-info .current-icon {
	width: 64px;
	height: 64px;
}

.current .current-row img {
	width: 100%;
	height: auto;
}

.current .current-temp {
	font-size: 6.4rem;
	font-weight: 200;
}

.current-row.current-desc {
	font-size: 2.4rem;
	font-weight: 300;
	margin-bottom: 24px;
	margin-top: -10px;
}

/* Style unit toggle buttons */

.current-row .unit {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* justify-content: center; */
	/* align-items: center; */
}

.current-row label {
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 2rem;
	/* font-weight: 300; */
	color: rgba(255, 255, 255, 0.55);
	text-align: center;
	cursor: pointer;

	transition: all 120ms ease-in-out;
}

.current-row .unit input {
	display: none;
}

input#celsius:checked + label,
input#fahrenheit:checked + label {
	font-size: 2.8rem;
	/* font-weight: 300; */
	color: var(--white);
}

.current-row div {
	display: flex;
	align-items: center;
	gap: 6px;
}

.other-info {
	font-size: 1.4rem;
	/* border: 1px solid #000; */
	/* width: 100%; */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(5, auto);
	gap: 4px 20px;
}

.other-info div {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
}

.other-info div span:first-of-type {
	font-size: 1.4rem;
	font-weight: 300;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.75);
}

.other-info .pressure {
	grid-area: -2 / 1 / -1 / -1;
}

@media (min-width: 640px) {
	.current {
		flex: 7;
	}
}
